@import url('https://fonts.googleapis.com/css?family=Rajdhani');
/*font-family: 'Rajdhani', sans-serif;*/
::-moz-selection {
    background:transparent;
}
::selection {
    background:transparent;
}

/* div classes */
.Wrapper {
    display: block;
    height: 56.25%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    left: 0px;
	top: 0px;
    z-index: 0;
    min-height: 576px;          /*min resolution for 16:9*/
    min-width: 240px;
    /*min-width: 1024px;
    max-height: 768px;          /*max resolution for 16:9*/
    /*max-width: 1366px;*/
}

.StageLeft {                    /*inside div, class=wrapper*/
    background-color: #808080;  /*dark gray*/
    position: absolute;
	z-index: -10;
    left: 0px;
	top: 0px;
	width: 65%;
    height: 100%;
	bottom: 0px;
}

.StageRight {                   /*inside div, class=wrapper*/
    background-color: #C0C0C0;  /*light gray*/
    position: absolute;
    overflow: hidden;
    z-index: 15;
	right: 0px;
	top: 0px;
	width: 260px;
    height: 100%;
	bottom: 0px;
}

.Information {                   /*inside div, stageLeft or stageRight*/
    background-color: #00ff00;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 134px;
    width: 240px;
}

.Statistics {                   /*inside div, stageLeft or stageRight*/
    background-color: #FF0000;  /*red*/
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75px;
    width: 260px;
}

.Statistics_topholder {                   /*inside div, stageLeft or stageRight*/
    background-color: #8B0000;  /*red*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 37px;
}

.Statistics_bottomholder {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #8B0000;  /*red*/
    margin-left: auto;
    margin-right: auto;
    height: 37px;
}

.StatisticsDetail {                   /*inside div, stageLeft or stageRight*/
    background-color: #FF0000;  /*red*/
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 134px;
    width: 240px
}
/*
.StatisticsCanvas #statistics {
    height: inherit;
    width: inherit;
    position: absolute;
    border: 1px solid #000000;
}*/

.Menu {
    background-color: #000080;  /*blue*/
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 268px;
    width: 240px;
}

.MenuOption {
    background-color: #0000FF;  /*lighter blue*/
    z-index: 30;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75px;
    width: 220px;
}

/* generic canvas things */
canvas {
    height: inherit;
    width: inherit;
    position: absolute;
    border: 1px solid #000000;
}

.StageLeftCanvas {
    height: 768px;
    width: 1366px;
    z-index: inherit;
    position: absolute;
    margin-left: calc((100% - 1366px)/2);
    margin-right: calc((100% - 1366px)/2);
    border: 1px solid #000000;
}

.StageRightCanvas {
    height: inherit;
    width: 100%;
    z-index: inherit;
    position: absolute;
    border: 1px solid #000000;
}

/*images*/
.rock {
    position: absolute;
    margin-left: calc((100% - 200px)/2);
    margin-right: calc((100% - 200px)/2);
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border: 1px solid #000000;
}

/*text objects*/
.oreCountTotal {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40;
}

.oreCount1_a, .oreCount1_b {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30;
}

.refinery_1 {
    position: absolute;
    margin-left: calc((100% - 200px)/2);
    margin-right: calc((100% - 200px)/2);
    margin-top: 100px;
    height: 300px;
    width: 400px;
    border: 1px solid #000000;
}

